body,
html {
  height: 100%;
  width: 100%;
  background-color: #faf9f6;
  display: flex;
}

.font-h2-strong {
  color: #141414;
  font-weight: 400;
  font-size: 24px;
  line-height: 31.68px;
  font-family: "Lexend", sans-serif;
}

.font-text-large-1 {
  color: #8f8f8f;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
}

.main-content-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 32px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}

button {
  background-color: #497e76;
  padding: 10px 16px 10px 16px;
  border: none;
  border-radius: 4px;
  line-height: 20px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 220px;
  font-size: 16px;
  cursor: pointer;
}

#login-input {
  display: flex;
  column-gap: 8px;
}

#login-input input {
  text-align: center;
  padding: 10px 8px 10px 8px;
  border: 1px solid #adadad;
  border-radius: 4px;
  outline: none;
  height: 64px;
  width: 50px;
}

#login-input input:focus {
  border: 1px solid #497e76;
}

#login-input input:focus::placeholder {
  color: transparent;
}

#login-input input::-webkit-outer-spin-button,
#login-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Modale base */
.modal-content {
  background-color: #ffffff; /* Colore più chiaro */
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc; /* Ridotto il contrasto del bordo */
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Ombra più pronunciata */

  display: flex; /* Abilita Flexbox */
  flex-direction: column; /* Organizza contenuti in colonna */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra orizzontalmente */
  text-align: center; /* Centra il testo */
}

/* Testo del titolo */
.modal-header {
  border-bottom: none; /* Rimuove il bordo inferiore */
  text-align: center;
  justify-content: center;
  width: 100%;
}

.modal-header h5 {
  margin: 0;
  font-size: 30px;
  color: #ff0000;
  font-family: "Lexend", sans-serif;
}

/* Miglioramento dello sfondo */
.modal {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Sfondo semi-trasparente più chiaro */
}

.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Centra verticalmente */
}

.modal-footer {
  width: 100%; /* Assicura che il bottone sia centrato */
}

.modal-footer button {
  margin: 0 auto; /* Centra il bottone orizzontalmente */
}
